section.about 
  .container
    h1.about__title.title О нас
    .about-wrapper 
      img(src="../images/about/about.png", alt="table with vase")
      p.about-wrapper__text Премиальный европейский текстиль — одно из самых главных направлений работы коллектива. Создавать неповторимые интерьеры для наших дорогих клиентов, уделяя внимание мельчайшим деталям — вот то,  что по-настоящему вдохновляет дизайнеров нашей студии. Наш коллектив сделает все, чтобы после сотрудничества с нами,  Вам было приятно сказать: « Да! Это именно то, что действительно достойно моего дома!»
  .about-  