section.about#0 
  .container
    h1.about__title О нас
    .about-wrapper 
      img(src="./images/about/about.png", alt="table with vase")
      div
        p.about-wrapper__text Премиальный европейский текстиль — одно из самых главных направлений работы коллектива. Создавать неповторимые интерьеры для наших дорогих клиентов, уделяя внимание мельчайшим деталям — вот то,  что по-настоящему вдохновляет дизайнеров нашей студии. 
        br
        p.about-wrapper__text Наш коллектив сделает все, чтобы после сотрудничества с нами,  Вам было приятно сказать: « Да! Это именно то, что действительно достойно моего дома!»
  .about-info 
    .container.about-info-items
      div
        .about-info-items__num 5
        .about-info-items__text лет опыта
      div
        .about-info-items__num 100
        .about-info-items__text проектов
      div
        .about-info-items__num 10  
        .about-info-items__text наград           