section.footer 
  .container.footer-container
    .footer-contact
      a.footer-contact__number(href="tel:+7 (981) 857-46-24") +7 (981) 857-46-24  
      span г. Санкт-петербург, ул. Большая Конюшенная, 19
    span ИП Королёва А.А.
