-var navItems = ['О компании', 'Портфолио', 'Команда', 'Как мы работаем', 'Отзывы клиентов', 'Оставить заявку'];

header.header 
  .container
    .menu
      .menu-logo
        img(src="./images/header/icon.svg", alt="icon")
        span SCANDI 

      ul.menu-nav 
        each item, index in navItems
          li.menu-nav__item
            a.menu-nav__link(href='#' + index) #{item}
      a.menu__number(href="tel:+7 (981) 857-46-24") +7 (981) 857-46-24   
    .header-content
      h1.header-content__title Поможем сделать вашу квартиру уютнее 
      p.header-content__text Подбираем текстиль, мебель и аксессуары под ваш интерьер, находим магазины и помогаем организовать доставку 
      button.header-content__btn.button Оставить заявку




