section.location#5
  .location-container
    form.location-form
      h2.location-form__title Оставить заявку
      p.location-form__text Оставьте свои контакты. Менеджер перезвонит в удобное вам время и ответит на все вопросы.
      label(for="name")
        input.location-form__input(type="text" placeholder="Ваше имя" id="name")
      label(for="number")
        input.location-form__input(type="text" placeholder="Введите телефон" id="number")
      button.button Оставить заявку   
    iframe.location-frame(width="590" height="630" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:Ej5Cb2xzaGF5YSBLb255dXNoZW5uYXlhIFN0LCAxOSwgU2Fua3QtUGV0ZXJidXJnLCBSdXNzaWEsIDE5MTE4NiIwEi4KFAoSCbuIQjUOMZZGEZMu3y45kXnjEBMqFAoSCV_VYbYPMZZGETDk610Ff8zQ&key=AIzaSyCN20Aj440BzPztrZNlQAMNYW2nBswLroA") 
    //- iframe.location-frame(src="https://yandex.ru/map-widget/v1/?um=constructor%3A5a394b9d9b2ceefecd1cac266163a97d9804ace1e095a0194c1907e2463ca44e&amp;source=constructor" width="590" height="624" frameborder="0") 