section.location#5
  .location-container
    form.location-form
      h2.location-form__title Оставить заявку
      p.location-form__text Оставьте свои контакты. Менеджер перезвонит в удобное вам время и ответит на все вопросы.
      label(for="name")
        input.location-form__input(type="text" placeholder="Ваше имя" id="name")
      label(for="number")
        input.location-form__input(type="text" placeholder="Введите телефон" id="number")
      button.button Оставить заявку   
    iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A1012e867c92316e367c98090c25090bbdab6d323bde32c4785ec053dd717263b&amp;source=constructor" width="590" height="630" frameborder="0")  