section.location#5
  .location-container
    form.location-form
      h2.location-form__title Оставить заявку
      p.location-form__text Оставьте свои контакты. Менеджер перезвонит в удобное вам время и ответит на все вопросы.
      label(for="name")
        input.location-form__input(type="text" placeholder="Ваше имя" id="name")
      label(for="number")
        input.location-form__input(type="text" placeholder="Введите телефон" id="number")
      button.button Оставить заявку    
    iframe.location-frame(src="https://yandex.ru/map-widget/v1/?um=constructor%3A5a394b9d9b2ceefecd1cac266163a97d9804ace1e095a0194c1907e2463ca44e&amp;source=constructor" width="590" height="624" frameborder="0") 