section.review#3 
  .container
    h1.review__title Отзывы
    .review-wrapper
      .review-wrapper__arrow
        img(src="./images/review/arrow.svg", alt="стрелка")  
      .review-wrapper-content
        p «Восторг! Спасибо, за комфортную жизнь. Очень рада, что выбрала вашу студию для украшения своего дома. 
        br 
        p Работа шла быстро, было очень приятно общаться и взаимодествовайть с сотрудниками. Не ожидала, что это будет так легко! 
        br
        p Буду советовать и своим друзьям к вам обращаться!»
        br
        span АННА БЕЛОВСКАЯ
      .review-wrapper-images
        img(src="./images/review/one.png", alt="Картинка квартиры")
        img(src="./images/review/two.png", alt="Картинка квартиры")
      .review-wrapper__arrow
        img(src="./images/review/arrow.svg", alt="стрелка") 