section.team#2 
  .container
    h1.team__title Команда
    .team-staff 
      div
        img(src="../images/team/one.png", alt="Maria")
        p.team-staff__text Это Маша, наш главный дизайнер. Она отвечает за дизайн-проект, приезжает к вам домой, общается и помогает сделать вашу квартиру красивой и уютной.
      div
        img(src="../images/team/two.png", alt="Sasha")
        p.team-staff__text С нашим менеджером Сашей вы познакомитесь в первую очередь. Она проконсультирует вас, соберёт все документы и ответит на все вопросы.    
      div
        img(src="../images/team/three.png", alt="Kate")
        p.team-staff__text Катя тоже занимается дизайном. Она всегда находит общий язык с клиентами и точно знает, как обсутроить дом так, чтобы вам понравилось.
    h1.team__title Как мы работаем
    .team-wrapper
      div 
        .team-wrapper__circle 1
        p.team-wrapper__text Знакомимся, выезжаем на объект, утверждаем концепцию, подписывем договор.
      div 
        .team-wrapper__circle 2
        p.team-wrapper__text Подбираем мебель, текстиль, аксессуры. Делаем 3D-зуализацию.
      div 
        .team-wrapper__circle 3
        p.team-wrapper__text Находим нужные магазины, помогаем с доставкой и оплатой товаров.
      div 
        .team-wrapper__circle 4    
        p.team-wrapper__text Воплощаем проект в жизнь: расставляем мебель и цветы, вешаем шторы, находим места для мелочей
