section.works#1 
  .container
    h1.works__title Наши работы
    .works-wrapper
      .works-wrapper-image
        .works-wrapper-info 
          h2.works-wrapper-info__title Квартира-студия 30 кв.м.
          p.works-wrapper-info__text В квартире были светлые стены и тёплые цвета. Мы сконцентрировались на отсылках к природе и сделали ребятам уютный интерьер, отсылающий к виллам островов Бали.
      .works-wrapper-image
        .works-wrapper-info 
          h2.works-wrapper-info__title Квартира-студия 30 кв.м.
          p.works-wrapper-info__text В квартире были светлые стены и тёплые цвета. Мы сконцентрировались на отсылках к природе и сделали ребятам уютный интерьер, отсылающий к виллам островов Бали.
      .works-wrapper-image
        .works-wrapper-info 
          h2.works-wrapper-info__title Квартира-студия 30 кв.м.
          p.works-wrapper-info__text В квартире были светлые стены и тёплые цвета. Мы сконцентрировались на отсылках к природе и сделали ребятам уютный интерьер, отсылающий к виллам островов Бали.      
      .works-wrapper-image             
        .works-wrapper-info 
          h2.works-wrapper-info__title Квартира-студия 30 кв.м.
          p.works-wrapper-info__text В квартире были светлые стены и тёплые цвета. Мы сконцентрировались на отсылках к природе и сделали ребятам уютный интерьер, отсылающий к виллам островов Бали.          
    h2.works__item 
      a(href="#") Смотреть ещё 
        img(src="../images/works/стрелки.svg", alt="стрелка")        
      