section.works#1 
  .container
    h1.works__title Наши работы
    .works-wrapper
      .works-wrapper-image
        .works-wrapper-info 
          h2.works-wrapper-info__title Квартира-студия 30 кв.м.
          p.works-wrapper-info__text В квартире были светлые стены и тёплые цвета. Мы сконцентрировались на отсылках к природе и сделали ребятам уютный интерьер, отсылающий к виллам островов Бали.
      .works-wrapper-image
        .works-wrapper-info 
          h2.works-wrapper-info__title Квартира 100 кв.м.
          p.works-wrapper-info__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, dignissimos, nulla dolores voluptate deserunt possimus, similique placeat corrupti enim eveniet recusandae? Perferendis magnam voluptatem atque necessitatibus libero omnis debitis perspiciatis?
      .works-wrapper-image
        .works-wrapper-info 
          h2.works-wrapper-info__title Квартира 130 кв.м.
          p.works-wrapper-info__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quod consectetur, ut dicta dolores esse aspernatur, fugiat architecto consequuntur nobis recusandae saepe ipsam voluptatibus similique velit labore possimus, necessitatibus maxime!      
      .works-wrapper-image             
        .works-wrapper-info 
          h2.works-wrapper-info__title Квартира-студия 50 кв.м.
          p.works-wrapper-info__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi nemo rerum assumenda voluptatum corrupti, hic excepturi sit provident at laudantium ducimus aperiam officiis fuga amet! Soluta vero in et.          
    h2.works__item 
      a(href="#") Смотреть ещё 
        img(src="../images/works/стрелки.svg", alt="стрелка")        
      