extends ../../modules/head

block content
  body 
    include ../../modules/header
    main 
      include ../../modules/about
      include ../../modules/works
      include ../../modules/team
      include ../../modules/review
      include ../../modules/location
    include ../../modules/footer  
    

