.location {
  height: 630px;
  background: #8D7370;

  &-container {
    margin: 0 auto;
    max-width: 1210px;
    display: flex;
    justify-content: flex-end;
  }

  &-form {
    margin-right: 20px;
    margin-top: 50px;
    max-width: 508px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
      font-size: 40px;
      line-height: 50px;
      text-transform: uppercase;
      color: #FFFFFF;
    }

    &__text {
      max-width: 450px;
      line-height: 30px;
      color: #FFFFFF;
      opacity: 0.6;
    }

    &__input {
      background-color: unset;
      width: 100%;
      padding-bottom: 5px;
      border: none;
      border-bottom: 1px solid #fff;
      color: #fff;

      &::placeholder {
        line-height: 30px;
        color: #F6EDE9;
      }

      &:focus {
        outline: none;
      }
    }
  }
}