.about {
  height: 867px;
  background-color: #efe6e4;

  &__title {
    font-size: 40px;
    padding-top: 18px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
  }

  &-wrapper {
    padding-bottom: 21px;
    margin: 40px auto 0;
    max-width: 1050px;
    display: flex;
  }

  &-wrapper__text {
    margin-left: 63px;
    max-width: 454px;
  }

  &-info {
    height: 273px;
    background: #8D7370;

    &-items {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      &__num {
        text-align: center;
        color: $color-white;
        font-size: 50px;
        line-height: 62px;
      }

      &__text {
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        text-transform: uppercase;
        color: $color-white;
      }
    }
  }
}