.team {
  padding-top: 50px;
  height: 1000px;
  background-color: #e2c4ba;

  &__title {
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
  }

  &-staff {
    margin: 42px auto;
    max-width: 1140px;
    display: flex;
    justify-content: space-evenly;

    &__text {
      margin-top: 10px;
      max-width: 320px;
      line-height: 30px;
    }
  }

  &-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;

    & div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__circle {
      padding: 20px 26px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: #8D7370;

      font-weight: 500;
      font-size: 30px;
      line-height: 30px;
      color: $color-white;
    }

    &__text {
      max-width: 285px;
      margin-top: 20px;
      text-align: center;

      line-height: 30px;
    }
  }
}