@media screen and (max-width: 985px) {
  .team {
    height: 1450px;

    &-staff {
      flex-direction: column;
      align-items: center;
    }

    &__title:last-of-type {
      display: none;
    }

    &-wrapper {
      display: none;
    }
  }
}