@import 'components/header/header';
@import 'components/menu/menu';
@import 'components/about';
@import 'components/works';
@import 'components/team';
@import 'components/review';
@import 'components/location';
@import 'components/footer';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
  margin: 0;
}

body * {
  font-family: 'Montserrat', sans-serif;
  color: #533738;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.button {
  width: 309px;
  height: 74px;
  background: #CC8B86;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .button {
    width: 280px;
  }
}