@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
  margin: 0;
}

body * {
  font-family: 'Montserrat', sans-serif;
  color: #533738;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.button {
  width: 309px;
  height: 74px;
  background: #CC8B86;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.header {
  background: url(../images/header/background-header.png);
  height: 715px;
  background-size: cover;

  &-content {
    margin-top: 91px;
    margin-left: 185px;

    &__title {
      font-size: 50px;
      max-width: 500px;
      line-height: 62px;
    }

    &__text {
      margin-top: 24px;
      max-width: 406px;
      line-height: 30px;
    }

    &__btn {
      margin-top: 21px;
    }
  }
}

.menu {
  padding: 0 36px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    display: flex;
    align-items: center;
  }

  &-nav {
    padding: 0;
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin-left: 130px;

    &__item {
      margin: 0 5px;
      list-style: none;
    }

    &__link {
      cursor: pointer;
      font-size: 16px;
      text-decoration: none;
    }
  }

  &__number {
    text-decoration: none;
    color: unset;
  }
}

.about {
  height: 867px;
  background-color: #efe6e4;

  &__title {
    font-size: 40px;
    padding-top: 18px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
  }

  &-wrapper {
    padding-bottom: 21px;
    margin: 40px auto 0;
    max-width: 1050px;
    display: flex;
    justify-content: center;
  }

  &-wrapper__text {
    margin-left: 63px;
    max-width: 454px;
  }

  &-info {
    height: 273px;
    background: #8D7370;

    &-items {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      &__num {
        text-align: center;
        color: #FFFFFF;
        font-size: 50px;
        line-height: 62px;
      }

      &__text {
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }
  }
}

.works {
  height: 1275px;
  background-color: #efe6e4;
  padding-top: 111px;

  &__title {
    margin-left: 100px;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
  }

  &-wrapper {
    margin: 10px 0 0 100px;
    height: 973px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-image {
      z-index: 2;
      margin-top: 30px;
      height: 451px;
      background-repeat: no-repeat;
      background-size: cover;

      &:nth-child(1) {
        width: 100%;
        max-width: 488px;
        background-image: url(../images/works/one.png);
      }

      &:nth-child(2) {
        width: 100%;
        max-width: 692px;
        background-image: url(../images/works/two.png);
      }

      &:nth-child(3) {
        width: 100%;
        max-width: 692px;
        background-image: url(../images/works/three.png);
      }

      &:nth-child(4) {
        width: 100%;
        max-width: 488px;
        background-image: url(../images/works/four.png);
      }
    }

    &-info {
      padding-top: 86px;
      opacity: 0;
      height: 100%;
      background: rgba(100, 72, 69, 0.8);

      &:hover {
        opacity: 1;
      }

      &__title {
        max-width: 314px;
        margin: 0 auto 20px;
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        color: #FFFFFF;
      }

      &__text {
        max-width: 418px;
        margin: 0 auto;
        line-height: 30px;
        color: #FFFFFF;
      }
    }
  }

  &__item {
    text-align: center;
    margin-top: 40px;

    & a {
      text-decoration: none;
      font-weight: 500;
      font-size: 30px;
      line-height: 37px;
      color: #533738;
      position: relative;
    }

    & img {
      
    }
  }
}